*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url(pictures/back.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #ffff transparent;
    transition: 0.5s ease;

}
ul li a:hover{
    background-color: lightblue;
    color: white;
}
 ul li.active a{
     background-color:blue ;
     color: indigo;
 }
 .main{
     max-width: 1200px;
     margin: auto;


 }
 .title{
     position:absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
     
 .title h1{
         color: white;
         font-size: 40px;
        
 }
 .font{
     color: blue;
      font-style: italic;
 }
.button{
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.btn{
    border: 1px solid yellow;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}
    
.btn:hover{
    background-color:#fff;
    color:#000;
}
 
   

